<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- fragment che si chiama head e prende un parametro title -->
    <th:block th:fragment="head(pageTitle)">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- includo bootstrap css e js -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
        <link th:href="@{/CSS/style.css}" rel="stylesheet">
        <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
        <!-- il title della pagina cambia e lo leggo dal parametro del fragment -->
        <title th:text="${pageTitle}"></title>
    </th:block>
</head>
<body>
<!--credo di dover passare un parametro-->
<nav th:fragment="navbar(currentPage)" class="navbar navbar-expand-lg bg-body-tertiary border">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/pizzas}"><img class="logo-pizzeria" th:src="@{/cartoon-pizza.jpg}"
                                                          alt="Cartoon Pizza"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" th:href="@{/pizzas}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold " th:href="@{/pizzas/${pizza.id}}"
                    >Dettaglio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" th:href="@{/pizzas/create}"
                    >Creazione</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
</body>
