.colored-card{

background: rgb(249,249,252);
background: linear-gradient(0deg, rgba(249,249,252,1) 0%, rgba(231,231,231,1) 35%, rgba(203,203,203,1) 100%);
}
img{
max-width:100%;
aspect-ratio: 1 / 1;
}
.table-img{
height:150px;
width:150px;
}
td{
background: rgb(249,249,252);
background: linear-gradient(0deg, rgba(249,249,252,1) 0%, rgba(231,231,231,1) 35%, rgba(203,203,203,1) 100%);
border:1px solid black;
padding:7px
}
.index-section{
height:130vh;
background: rgb(250,250,250);
background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(247,247,106,1) 35%, rgba(255,151,6,1) 100%);
padding-bottom:20rem;
}
.show-section{
height:100vh;
background: rgb(250,250,250);
background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(247,247,106,1) 35%, rgba(255,151,6,1) 100%);
}
.create-section{
height:100vh;
background: rgb(250,250,250);
background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(247,247,106,1) 35%, rgba(255,151,6,1) 100%);
}
.logo-pizzeria{
max-height:75px;
}
nav{
height:80px;
background: rgb(249,249,252);
background: linear-gradient(0deg, rgba(249,249,252,1) 0%, rgba(231,231,231,1) 35%, rgba(203,203,203,1) 100%);
}
.btn{
font-weight: bold;;
}
.nome-link{
text-decoration:none;
font-size:22px;
color:#ff6f3c;
}
.nome-link:hover{
color:black;
}
.actions{
border:0;
background-color: transparent;
}
.azioni{
height:170px;
border-bottom-color:transparent;
border-left-color:transparent;
}