<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(pageTitle='Edit')}"></th:block>
</head>
<body th:with="isEdit=${pizza.id != null}">

<nav th:replace="~{/fragments/resources :: navbar(currentPage = 'edit')}"></nav>
<section class="create-section">
    <h1 class="m-4" th:text="${isEdit} ? 'Modifica ' + ${pizza.nome} : 'Crea Pizza'"></h1>

    <div class="container">
        <form class="row mt-5 fw-bold g-4"
              id="pizza-form"
              th:action="${isEdit} ? '/pizzas/edit/' + ${pizza.id} : '/pizzas/create'"
              th:object="${pizza}"
              method="POST" >
            <!--            LA VOCE ALL'INTERNO DEI FIELDS DEVE ESSERE UGUALE AGLI ATTRIBUTI DEL MODEL-->
            <!--            nome-->

            <div class="col-6">

                    <label for="nome" class="form-label">Nome*</label>
                    <input type="text" th:errorClass="is-invalid" class="form-control" id="nome" name="nome" th:field="*{nome}"
                           placeholder="specifiche...">
                <!--            vado a prendere gli errori specifici-->
                <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
                    </ul>
                </div>

            </div>
            <!--            descrizione-->
            <div class="col-6">
                <div class="mb-3">
                    <label for="descrizione" class="form-label">Descrizione</label>
                    <input type="text" th:errorClass="is-invalid" class="form-control" id="descrizione" name="descrizione" th:field="*{descrizione}"
                           placeholder="specifiche...">
                </div>
                <!--                vado a prendere gli errori specifici-->
                <!--                <div th:if="${#fields.hasErrors('nome)}" class="invalid-feedback">-->
                <!--                    <ul>-->
                <!--                        <li th:each=""></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
            <!--            ingredienti-->
            <div class="col-6">
                <div class="mb-3">
                    <label for="ingredienti" class="form-label">Ingredienti</label>
                    <input type="text" th:errorClass="is-invalid" class="form-control" id="ingredienti" name="ingredienti" th:field="*{ingredienti}"
                           placeholder="specifiche...">
                </div>
                <!--                vado a prendere gli errori specifici-->
                <!--                <div th:if="${#fields.hasErrors('nome)}" class="invalid-feedback">-->
                <!--                    <ul>-->
                <!--                        <li th:each=""></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
            <!--            fotoUrl-->
            <div class="col-6">
                <div class="mb-3">
                    <label for="fotoUrl" class="form-label">Url Foto</label>
                    <input type="text" th:errorClass="is-invalid" class="form-control" id="fotoUrl" name="fotoUrl" th:field="*{fotoUrl}"
                           placeholder="specifiche...">
                </div>
                <!--                vado a prendere gli errori specifici-->
                <!--                <div th:if="${#fields.hasErrors('nome)}" class="invalid-feedback">-->
                <!--                    <ul>-->
                <!--                        <li th:each=""></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
            <!--            prezzo-->
            <div class="col-6">

                    <label for="prezzo" class="form-label">Prezzo*</label>
                    <input type="text" th:errorClass="is-invalid" class="form-control" id="prezzo" name="prezzo" th:field="*{prezzo}"
                           placeholder="specifiche...">

                <div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-end">
                <button type="submit" class="btn btn-primary">Inserisci la tua pizza</button>
                <a  class="btn btn-secondary ms-3" th:href="@{/pizzas}">Torna Indietro</a>
            </div>

        </form>
    </div>
    </div>
</section>



</body>
</html>