<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{/fragments/resources :: head(pageTitle='Pizzas Menu')}"></th:block>

</head>
<body>
<nav th:replace="~{/fragments/resources :: navbar(currentPage = 'index')}" ></nav>
<div  th:replace="~{/fragments/resources :: messages}"></div>
<section class="index-section">

    <div class="container">
        <h1 class="mt-4">Le nostre pizze</h1>
        </hr>
        <!--   link per la create-->
        <div class="d-flex align-items-center justify-content-between">
            <a class="btn btn-primary" th:href="@{/pizzas/create}">Aggiungi Pizza</a>
            <form th:action="@{/pizzas}" method="GET">
                <div class="mb-3">
                    <label for="keyword" class="form-label">Cerca Pizza</label>
                    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Cerca Qui...">
                </div>
                <button type="submit" class="btn btn-primary">Ricerca</button>
            </form>
        </div>



        <table class="mt-5 fw-bold" th:if="${pizzas.size() != 0}">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Ingredienti</th>
                <th>Foto</th>
                <th>Prezzo €</th>
                <th>Data Creazione</th>
                <th>Data di Modifica</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzas}">
                <td><a class="nome-link" th:href="@{|/pizzas/${pizza.id}|}">[[${pizza.nome}]]</a></td>
                <td th:text="${pizza.descrizione}"></td>
                <td th:text="${pizza.ingredienti}"></td>
                <td><img class="table-img" th:src="${pizza.fotoUrl}" th:alt="${pizza.nome}"></td>
                <td th:text="| ${pizza.prezzo}|"></td>
                <td th:text="${pizza.getFormattedDate()}"></td>
                <td th:text="${pizza.getFormattedDate()}"></td>
                <td class="d-flex flex-column align-items-center justify-content-evenly azioni">
                    <a class="nome-link actions " th:href="@{|/pizzas/edit/${pizza.id}|}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form th:action="@{|/pizzas/delete/${pizza.id}|}" method="POST">
                        <button type="submit" class="nome-link actions"><i class="fa-solid fa-trash-can"></i></button>
                    </form>

                </td>


            </tr>
            </tbody>
        </table>
        <table class="row" th:unless="${pizzas.size() != 0}">
            <td class="col">
                <h3 >Nessuna Pizza da mostrare</h3>
            </td>
        </table>

    </div>
</section>
</body>
</html>