<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(pageTitle = ${pizzaDetail.getNome()})}"></th:block>
</head>
<body>

<nav th:classappend="${currentPage == 'show' ? 'active' : '' }"
     th:replace="~{/fragments/resources :: navbar(currentPage)}"></nav>
<section class="show-section">
    <div class="container colored-card" th:object="${pizzaDetail}">
        <div class="row mt-5 justify-content-center align-items-center p-3">
            <div class="col-7">

                <div class="row">
                    <div class="col-6">
                        <img class="" th:alt="*{nome}" th:src="*{FotoUrl}">
                    </div>
                    <div class="col-6">
                        <h2 class="" th:text="*{nome}"></h2>
                        <h3>Descrizione</h3>
                        <p class="fw-bold" th:text="*{descrizione}"></p>
                        <h3>Ingredienti</h3>
                        <p class="fw-bold" th:text="*{ingredienti}"></p>

                        <a class="btn btn-primary" th:href="@{/pizzas}">Torna al menu</a>
                        <!--                            <p class="card-text" th:text="${temporals.format(pizzaDetail.createdAt, 'dd/MM/yyyy')}"></p>-->
                    </div>
                </div>

            </div>
            <div class="col-5">
                <h2>Offerte Disponibili</h2>
                <table>
                    <thead>
                    <th>Nome Offerta</th>
                    <th>Inizio Offerta</th>
                    <th>Termine Offerta</th>
                    </thead>
                    <tbody>
                    <tr th:each="offerta : ${pizzaDetail.offerte}" th:object="${offerta}">
                        <td th:text="*{nomeOfferta}"></td>
                        <td th:text="*{#temporals.format(dataInizioOfferta, 'dd/MM/yyyy')}"></td>
                        <td th:text="*{#temporals.format(dataFineOfferta, 'dd/MM/yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>

                <!--                <a class="btn btn-primary" th:href="@{/pizzas}">Torna al menu</a>-->
            </div>
        </div>
    </div>
</section>

</body>
</html>


<!--<div class="">-->
